body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family: 'Microsoft YaHei';
	width: 100%;
	/*min-height: 568px;*/
	height: 100%;
	background-color: #FEE895;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
/*文字排版*/
.f05{font-size: 0.5em;}
.f06{font-size: 0.6em;}
.f08{font-size:0.8em;}
.f09{font-size:0.9em;}
.f10{font-size:  1em;}
.f11{font-size:1.1em;}
.f12{font-size:1.2em;}
.f13{font-size:1.3em;}
.f14{font-size:1.4em;}
.f15{font-size:1.5em;}
.f16{font-size:1.6em;}
.f17{font-size:1.7em;}
.f18{font-size:1.8em;}
.f20{font-size:  2em;}
.f22{font-size:2.2em;}
.f24{font-size:2.4em;}
/*字体颜色*/
.caf{color: #AFAFAF;}/*当前余额*/
.cff{color: #fff;}
.c87{color: #878E94;}/*更改绑定*/
.c9e{color: #9E9E9E;}
.c55{color: #55A9FD;}
.c82{color: #828282;}
.c00{color: #000;}
/*宽度*/
.w50{width: 50%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w48{width: 48%;}
.w45{width: 45%;}
.w20{width: 20%;}
.w35{width: 35%;}
.w15{width: 15%;}
.w25{width: 25%;}
.w100{width: 100%;}
.w79{width: 78%;}
/*高度*/
.h100{height: 100%;}
.h50{height: 50%;}
.h20{height: 20px;}
/*背景颜色*/
.bg47{background-color: #47A5FF;}/*按钮颜色*/
.bgf1{background-color: #F1F0F6;}/*首页背景颜色*/
/*行高*/
.lh15{line-height: 1.5em;}
.lh20{line-height: 2em;}
.lh30{line-height: 35px;}
/*边距*/
.m5{margin: 5% auto;}
/*去除iphone样式*/
 input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
/*定位*/
.pr{position: relative;}
/*右对齐*/
.tr{text-align: right;}
.tl{text-align: left;}

